.test-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: #0053FF;  /* Blue color */
    color: white;
    border: none;
    border-radius: 20px;  /* Rounded corners */
    font-size: 19px;
}