.friends-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: #0053FF;  /* Blue color */
    color: white;
    border: none;
    border-radius: 20px;  /* Rounded corners */
    font-size: 19px;
    width: 110px;
    height: 10px;
}

.everyone-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: rgb(255, 255, 255);
    color: #0053FF;
    border:40px;
    border-radius: 20px; 
    font-size: 19px;
    width: 70px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid #0053FF;     
}

.friend-icon{
    width: 40px;
    height: 40px;
  
}