:root {
    --main-blue: #0053FF;
    --main-white: #FAFCFF;
    --main-black: #00081A;


    --fp-1: calc(100vw * (1 / 1920)); /* 10px from figma design file */
    --fp-10: calc(100vw * (10 / 1920)); /* 10px from figma design file */
    --icon-height: 50px;
    --size-h1: 42px;
    --size-h2: 40px;
    --size-h3: 28px;
    --size-txt: 20px;
}

.profile-pic-moderator{
    width: var(--icon-height);
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(--main-white);
    object-fit: cover;
    box-shadow: rgba(0, 83, 255, 0.5) 0px 0px 12px;
    object-position: 20% 10%; /* moved the image */
}

.moderate-section {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center horizontally */
  gap: 20px;           /* Space between button and image */
  padding: 20px;
}

.below-button-image {
  width: 200px;    /* Adjust based on your needs */
  height: 125px;      /* Maintain aspect ratio */
  border-radius: 4px;  /* Optional styling */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow */
}

.ad-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.ad-card button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.ad-card button:hover {
  background-color: #007bff;
  color: white;
}