:root {
    --main-blue: #0053FF;
    --main-white: #FAFCFF;
    --main-black: #00081A;


    --fp-1: calc(100vw * (1 / 1920)); /* 10px from figma design file */
    --fp-10: calc(100vw * (10 / 1920)); /* 10px from figma design file */
    --icon-height: 50px;
    --size-h1: 42px;
    --size-h2: 40px;
    --size-h3: 28px;
    --size-txt: 20px;
    --icon-height-business: 15px;

}



.profile-pic-business{
    width: var(--icon-height);
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(--main-white);
    object-fit: cover;
    box-shadow: rgba(0, 83, 255, 0.5) 0px 0px 12px;
    object-position: 20% 10%; /* moved the image */
}

.add-funds{
    width: var(--icon-height);
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(--main-white);
    object-fit: cover;
    box-shadow: rgba(0, 83, 255, 0.5) 0px 0px 12px;
    object-position: 20% 10%; /* moved the image */
}



.icon-business{
    width: var(--icon-height-business);
    height: var(--icon-height-business);
    object-fit: cover;
}


        
        .search-container {
            margin-bottom: 20px;
            border-radius: 20px;
            margin-right:  25px;
            border: 2px solid var(--main-black);        
        }
        
        .search-bar {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            border-color: black;
            padding: 8px 15px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        
        .search-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            color: #888;
        }
        
        .search-input {
            border: none;
            outline: none;
            flex-grow: 1;
            font-size: 16px;
            padding: 5px 0;
        }
        
        .text-container{
            display: flex;
            align-items: start;
            background-color: white;
            border-radius: 20px;
            border-color: black;
            padding: 8px 15px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            height: 80px;

        }

        .search-container2 {
            margin-bottom: 20px;
            border-radius: 20px;
            margin-right:  25px;
            border: 2px solid #0053FF;        
        }

        .ad-container{
        /* Your existing styles */
        background-color: rgba(0, 83, 255, 0.1);
        border-radius: 20px;
        padding: 8px 15px;
        height: 100px;
        }

        .location-icon{
            color: #000000 !important;
            width: 20px;
            height: 20px;
            margin: 7px;
        }

        .plus-icon{
            color: #000000 !important;
            width: 35px;
            height: 35px;
            margin: 7px;
        }

        .space-between{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .views-text {
            margin-top: 15px; /* Creates space above the views text */
        }

        h5{
            opacity: 0.4;
        }

        .bar {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 30px;
            border-color: black;
            padding: 8px 15px;
            height: 20px;
        }

        .submit-button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            background-color: #0053FF;  /* Blue color */
            color: white;
            border: none;
            border-radius: 20px;  /* Rounded corners */
            font-size: 19px;
            width: 150px;
            height: 24px;

        }